/* Style for the info banner */
.info-banner {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgb(156, 166, 156);
  padding: 20px;
  transition: opacity 0.5s ease;
  z-index: 9999; /* Add this line */
}

body:hover .info-banner { 
  display: block;
}
  
  /* Close button style */
  .close {
    color: #ebe2e2;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  .banner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }

  /* Style for the WhatsApp icon */
  .whatsapp-icon {
    width: 30px;
    height: 30px;
  }