/* Style for the info banner */
.info-banner {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: rgb(94, 140, 94);
  padding: 20px;
  transition: opacity 0.5s ease;
  z-index: 9999; /* Add this line */
}

body:hover .info-banner { 
  display: block;
}
  
  /* Close button style */
  .close {
    color: #ebe2e2;
    float: right;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

  /* Style for the WhatsApp icon */
  .whatsapp-icon {
    width: 30px;
    height: 30px;
  }

  @keyframes blink {
		0% {opacity: 1;}
		50% {opacity: 0;}
		100% {opacity: 1;}
	}
.blink {
  animation: blink 3s linear infinite;
}